<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" authCookieName=".SFAUTH-TorrentSite" rolesCookieName=".SFROLES-TorrentSite" validationKey="4B21ED2B4DC5DECE35CBA1184498D674C9ABB4F1B9FD62D65EDA2FC74C04B9DA0C956F6D0AAC09FF54F2B059AF430D3F93D46BC2DCC74DEB56466CBEACFBADD5" decryptionKey="F4DD107C051E9078F39F7AA0A6DE0F1947E8E06C75CD975652E827B0BE75981A" loggingCookieName=".SFLOG-TorrentSite">
	<securityTokenIssuers>
		<add key="B50DB2A1AADFCFA60C39614A7AE96AE9E72537F772886CC5F2FE6975B6B7362A" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="B50DB2A1AADFCFA60C39614A7AE96AE9E72537F772886CC5F2FE6975B6B7362A" realm="http://localhost" />
	</relyingParties>
</securityConfig>