<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" authCookieName=".SFAUTH-TorrentSite" rolesCookieName=".SFROLES-TorrentSite" validationKey="D39DAA985B4BF6354712850E77BAB388808C7764573456C760C4502998FF984A1FF68B9DF146DC0BB1AC2B34EF7928EACAC363A69A462DD26F432F59B2994E20" decryptionKey="8EF1A5C88232725A445C5F5A00015EBBA057247E3AE37F8B243F54F0C749F2AC" loggingCookieName=".SFLOG-TorrentSite">
	<securityTokenIssuers>
		<add key="5E5DF6738A4133AC2946D40EC7E14A1CBDE64FA110CCF1112849696D61A501B0" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="5E5DF6738A4133AC2946D40EC7E14A1CBDE64FA110CCF1112849696D61A501B0" realm="http://localhost" />
	</relyingParties>
</securityConfig>